
.content-bottom-process-title{
	height: 300px;
}
/*flypanel-content*/
.content-total-box-parent {
	height: 300px;
}
.content-total{
	border-radius: 5px;
	background-color: #fff;
}
<<<<<<< HEAD


=======
<<<<<<< HEAD


=======
>>>>>>> 0416备份
>>>>>>> 0416备份
/*bottom*/
.content-bottom {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px; 
	display: flex;
	height: 380px;
	flex-wrap: wrap;
	background-color: #fff;
}
.content-bottom-data-detail {
	height: 120px;
	width: 120px;
	margin: 19px;
	border-radius: 5px;
	/*background-color: red;*/
	border: 5px solid #f8f8f8;
	border-bottom: 5px solid red;
}
.content-bottom-data-title {
	height: 300px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(41, 169, 232, 1);	
}
.content-bottom-process-title{
	height: 300px;
}
.content-bottom-data{
	flex-wrap: wrap;
}
.content-bottom-data-num{
	/*padding-top: 10px;*/
	font-size: 24px;
	height: 80px;
	line-height: 110px;
	text-align: center;
}
.content-bottom-data-name{
	text-align: center;
	line-height: 20px;
}
.body-content{
<<<<<<< HEAD
	margin-top: 80px;
=======
<<<<<<< HEAD
	margin-top: 80px;
=======
	margin-top: 40px;
>>>>>>> 0416备份
>>>>>>> 0416备份
}
/* 最新任务 */
.content-bottom-process-title {
	padding-top: 10px;	border-bottom: 1px solid rgba(41, 169, 232, 1);	
}

