body{
	background-color: #f8f8f8;
}
.navbar{
	border-radius: 0px;
}
.navbar-default{
	background: #558ED5;
	border-color:#558ED5;
}
.navbar-header a:hover{
	color: #fff;
}
.navbar{
	border:none;
}
.navbar-default .navbar-header a{
	color: #fff;
}
.navbar-default .navbar-header a:hover{
	color: #fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.dropdown a:hover{
	background-color: #558ED5;
}
.dropdown-menu{
	background-color: #558ED5;
}
.dropdown-menu>li>a, .dropdown-menu>li>a{
	color: #fff;
}
.navbar-right img{
	margin-top: -4px;
	padding-right: 5px; 
}
.navbar-default .navbar-brand{
	color: #fff;
}
/*底部栏*/
.content-bottombar{
	bottom: 0px;
	margin-top: 50px;
}
.bottom-link-parent{
	text-align: center;
}
.bottom-link{
    color: #558ED5;
    text-decoration: none;
}
.navbar-brand{
	padding: 11px 10px 0 5px;
}
.navbar-brand img{
	padding-right: 5px;
	width: 34px;
	height: 28px;
	display: inline-block;
}