body{
	background-color: #f8f8f8;
}
.navbar{
	border-radius: 0px;
}
.navbar-default{
	background: #2575aa;
	border-color:#2575aa;
}
.navbar-header a:hover{
	color: #fff;
}
.navbar{
	border:none;
}
.navbar-default .navbar-header a{
	color: #fff;
}
.navbar-default .navbar-header a:hover{
	color: #fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.dropdown a:hover{
	background-color: #2575aa;
}
.dropdown-menu{
	background-color: rgb(37, 100, 150);
}
.dropdown-menu>li>a, .dropdown-menu>li>a{
	color: #fff;
}
.navbar-right img{
	margin-top: -4px;
	padding-right: 5px; 
}
.navbar-default .navbar-brand{
	color: #fff;
}
/*底部栏*/
.content-bottombar{
	bottom: 0px;
	margin-top: 50px;
}
.bottom-link-parent{
	text-align: center;
}
.bottom-link{
    color: #337ab7;
    text-decoration: none;
}
/* .container{
	margin-top: 50px;
} */